.content {
    background-color: black;
    color: white;
}

.title, .welcomeMessage {
    font-family: 'Permanent Marker', cursive;
}

.nav button,  .search button, .introButtons button {
    background-color: #904FBB;
    border: #904FBB;
    color: white;
}

.nav button:hover,  .search button:hover, .introButtons button:hover {
    background-color: #cb96ee;
    border: #cb96ee;
    color: black;
}

.showcase {
    background-image: url("../img/showcase_background.jpg");
    background-size: cover;
    background-position: center;
    height: 75vh;
}

.welcomeMessage {
    text-align: center;
    padding-top: 10%;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
}

.introButtons button{
    margin-left: 1%;
    margin-top: 5%;
}
 
@media (max-width: 576px) {
    .browseMusic, .browseCommunity {
        justify-content: center;
    }
}

@media (min-width: 576px) {
    .browseMusic {
        justify-content: end;
    }

    .browseCommunity {
        justify-content: start;
    }
}


